<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title>Jackal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>

  <header>
    <div class="navbar-fixed">
      <nav class="grey darken-3 black-text">
        <div class="nav-wrapper">
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="left hide-on-med-and-down compress">
            <% if current_user %>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
              <li><%= link_to "Profile", current_user %> </li>
              <% if current_user.admin %>
                <li><%= link_to "All Users List", users_path %></li>
              <% else %>
                <li><%= link_to "My Games", root_path %> </li>
              <% end %>
            <% else %>
              <li><%=link_to "Sign In", new_user_session_path %></li>
              <li><%=link_to "Sign Up", new_user_registration_path %></li>
            <% end %>
            <li><%= link_to "Game Rules", root_path %> </li>
          </ul>
          <ul class="side-nav flow-text" id="mobile-demo">
            <% if current_user %>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
              <li><%= link_to "Profile", current_user %> </li>
              <% if current_user.admin %>
                <li><%= link_to "All Users List", users_path %></li>
              <% else %>
                <li><%= link_to "My Games", root_path %> </li>
              <% end %>
            <% else %>
              <li><%=link_to "Sign In", new_user_session_path %></li>
              <li><%=link_to "Sign Up", new_user_registration_path %></li>
            <% end %>
            <li><%= link_to "Game Rules", root_path %> </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>
  <script>
    $('.button-collapse').sideNav();
  </script>
</html>
